*{
  margin: 0;
}

/*titolo*/
h1{

 font-size: 60px;
 margin: 8px;

}

p {
  margin: 8px;
  font-weight: bold;
  padding-top: 20px;
}

table{
  margin: 8px;
  width: 100%;
  height: 200px;
  border-collapse: collapse;
  font-weight: 600;

  
}

td{
  padding-right: 15px;
}

thead{
  background-color: rgb(67, 186, 241);
}

ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

/*sfondo-header*/
.logo{
   height: 80px;  
   padding-top: 90px;
}

.sfondo{
   background-color: dodgerblue;
   background-image: url(../image/pattern.png);
   height: 180px;
}

.tim{
  margin: 8px;
}

/*data-scrittura*/
p.data-scritto{
    color: grey;
    font-size: 25px;
    margin: 8px;
    font-weight: 700;
}

  .booleaner{
    color: aqua;
}

  .data{
    font-size: 16px;
}

/*evidenziato*/
.yellow{
    background-color: yellow;
}

.table-color{
  background-color: aqua;
}